{% extends 'base.htm' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'Reim1/css/actividad.css' %}">
{% endblock %}


{% block content %}

    <h1>{{ object.nombre_actividad }} </h1>
    <main>


        <!-- Esta sección es la que actualmente me está complicando, de momento no sé como traer a los alumnos especificos de la actividad -->
       
            <label for="alumnos">Filtrar por Alumno: </label>
            <select id = "alumnos_list" name = "dropdown">
              {% for alumno in alumnos %}
                <option value="{{alumno.nombres}}">{{alumno.nombres}}</option>
              {% endfor %}
            </select>
            <br>
            <input type="submit" value="Buscar" onclick=filtrar()>
          


          <div class="contenedor">
            <iframe id = "grafico" src= {{ object.grafico }} frameborder="0" allowFullScreen="true"></iframe>
          </div>
    </main>


<script>
  function filtrar() {
    alumno = document.querySelector("#alumnos_list")
    alumno_elegido = alumno.options[alumno.selectedIndex].value;
    document.getElementById('grafico').src = "#"
  }
  </script>
{% endblock %}