{% extends 'base.htm' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'Reim1/css/actividad.css' %}">
{% endblock %}

{% block title %}
<title>Resultados Generales</title>
{% endblock %}


{% block content %}

    <h1>Graficos Generales del Reim {{ reim }} </h1>
    <main>
          <div class="contenedor">
            {% if grafico != 0 %}
              <iframe id = "grafico" src= {{ grafico }} frameborder="0" allowFullScreen="true"></iframe>
            {% else %}
              <p style="text-align: center;"><strong>No se ha encontrado el gráfico :(</strong></p>
              <p style="text-align: center;"><em>Si es administrador, puede incluir este gráfico en el portal de administrador</em></p>
            {% endif %}
          </div>
    </main>
{% endblock %}