{% extends 'base.htm' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'Reim1/css/reim1.css' %}">
{% endblock %}

{% block content %}
    <h1>Bienvenido al Reim {{ botonreim }}</h1>
    <main>
        
        <button class="accordion">Graficos generales</button>
        <div class="panel">
            <div class="grafico">
                <iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNTgzODViZGItY2ZmNy00YjMwLWJmZDktNGQ5YjVlZGUzYjQ1IiwidCI6IjM2YjZkNDEzLTNiNmYtNDgxYS1iYzlkLTY2ODliNTExY2FmYSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="informacion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque quae sit omnis pariatur sint beatae autem soluta quis consequuntur perferendis laboriosam assumenda, voluptate, at reiciendis vitae necessitatibus repellat consectetur!
            </div>
        </div>
        
        <button class="accordion">Colegio 2</button>
        <div class="panel">
        </div>
        <button class="accordion">Colegio 3</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </main>
    <script src="{% static 'inicio/js/acordion.js' %}"></script>
{% endblock %}