{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


    <title>Grafico</title>
</head>

<body>
    <div id="filtros">
        <select name="Reim" id="reims">
            {% for i in reims %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <select name="Actividad" id="Actividad"></select>
        <div id= "datos">
            De la tabla 
            <select name="datos" id="tabla_datos">
                <option value="#">Otro</option>
                <option value="AlumnoRespuestaActividad">alumno_respuesta_actividad</option>

            </select>
            quiero ver el/la
            <select name="operacion" id="operacion">
                <option value="Count">Recuento</option>
                <option value="Sum">Suma</option>
                <option value="Average">Promedio</option>
            </select>
            de
            <select name="valores" id="valores">
                <option value="id_user">Touchs</option>
                <option value="correcta">Correctas</option>
                <option value="correcta">Incorrectas</option>
            </select>
            por
            <select name="por" id="orden">
                <option value="id_user">Alumno</option>
                <option value="Fecha">Fecha</option>
            </select>
            dentro de un grafico de
            <select name="tipo" id="tipoGrafico">
                <option value="bar">Barra</option>
                <option value="line">Linea</option>
            </select>
            <button id="creargrafico" >Crear Grafico!</button>
        </div>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
</body>
<script src="{% static 'graph/js/graph.js' %}"></script>

</html>