.sidebar {
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: #004b93;
  position: absolute;
  height: 1000px;
  overflow: auto;
  
}

.sidebar a {
  display: block;
  color: black;
  padding: 20px;
  text-decoration: none;
  position: relative;
}
  
.sidebar a:hover:not(.active) {
  background-color: lightblue;
  color: white;
}

.sidebar img{
  height: 80px;
  width: auto;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightblue;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-left: 15px;

  /* Position the tooltip */
}

.sidebar a:hover .tooltiptext{
  visibility: visible;
}


.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 900px;
}

.content h2{
  text-align: center;
}


.contenedor-grafico{
  background-color: lightblue;
  height: 60%;
  width: 100%;
  margin-top: 50px;
}

.embed-container{
  height: 100%;
  width: 100%;
  margin-top: -30px;
}