{% extends 'base.htm' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'inicio/css/home.css' %}">
{% endblock %}
{% block title %}
<title>Inicio</title>
{% endblock %}


{% block user %}
<a href="#" style = "pointer-events: none;"><i class="far fa-user" style="font-size: 150%;"></i><span style="padding-left: 20px;">{{usuario.username}}</span></a>
{% endblock %}


{% block content %}
<main>
    {% for nombre,colegio in colegios.items %}
    <div class="contenedor-colegio">
        <div class="contenedor-imagen">
        </div>
        <div class="contenedor-info">
            <div class="contenedor-nombre">
                <span class="nombre-colegio">{{nombre}}</span>
            </div>
            <div class="contenedor-cursos">  
                {% for curso in colegio.values %}
                <a class="boton-curso" href="../reims">{{curso.nivel.0|add:" "|add:curso.letra.0}}</a>
                {% endfor %}
            </div>
        </div>
        
    </div>    
    {% endfor %}
</main>
{% endblock %}