{% extends 'base.htm' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'inicio/css/home_reim.css' %}">
{% endblock %}

{% block title %}
<title>Reims</title>
{% endblock %}

{% block content %}
<main style="padding: 50px;">
  <h1 style="padding-bottom: 50px;">{{nombre_curso}}</h1>
  <div class="card-deck">
    {% for reims in Reim %}
      <!-- > Aqui en adelante se deben mostrar con un for loop con los REIMS relacionados al colegio y al docente 
          > Se pueden traer los datos en la parte de views
          > De momento están ingresadas de manera bruta, al igual que el "id" de cada una de ellas -->
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{reims.nombre}}</h5>
              <p class="card-text">{{reims.descripcion_educativa}}</p>
              
              <!-- Este form entrega la información al siguiente template.
                  Se necesita ingresar el id de cada uno de los reims en value
                  De esta manera la siguiente página sabrá cual Reim es y podrá filtrar las actividades -->
                  <a class="btn-primary btn-lg" href="../../../../../reim_lobby/{{curso.fecha}}/{{reims.id}}/{{curso.colegio}}/{{curso.nivel}}/{{curso.letra}}">Ir a Reim</a>            
                </div>
          </div>
    {% endfor %}
  </div>
</main>
{% endblock %}