{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block links %}{% endblock %}
    <link rel="stylesheet" href="{% static 'inicio/css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block title %}
    {% endblock %}

</head>
<body>
    
<header>
  <div id="topPart">
  </div>
  <!-- Logo -->
    <div id="Logo">
      <img src="{% static 'inicio/imagenes/Logo.png' %}" alt="Logo de Ulearnet"> 
    </div>
</header>
  
  <nav>
    <a href="{% url 'ayuda' %}">Ayuda</a>
    <form class="right" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-lg">Logout</button>
    </form>
  </nav>
  {% block content %}
  {% endblock %}
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-road"></i> <img src="{% static 'inicio/imagenes/logo_ulearnet_footer.png' %}" alt="Logo de Ulearnet"> </h5>
                <p><strong>Programa de Gestión de la Calidad y Seguimiento de los Aprendizajes</strong></p>
                <p>Dirección de Extensión y Comunicaciones </p>
                <p>Facultad de Filosofía y Humanidades</p>
                <p>Universidad de Chile</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>