{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block links %}{% endblock %}
    <link rel="stylesheet" href="{% static 'inicio/css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Inicio</title>
</head>
<body>
    
<header>
  <!-- Logo -->
    <div id="Logo">
      <img src="{% static 'inicio/imagenes/Logo.png' %}" alt="Logo de Ulearnet"> 
    </div>
</header>
  
  <nav>
    <a href="../home/" class="active">Home</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <form class="right" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</a>
    </form>
  </nav>
  {% block content %}
  {% endblock %}
  <footer>
    <h2>Footer</h2>
  </footer>
</body>
</html>