{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inicio/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'inicio/css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>  
    
<header>
  <!-- Logo -->
    <div id="Logo">
      <img  id = "logoimg" src="{% static 'inicio/imagenes/Logo.png' %}" alt="Logo de Ulearnet"> 
    </div>
</header>
<main>

    <div class="contenedor"> 
        <h1>Accede a la Plataforma</h1>
        <div class="formulario">
            <form method="post" action = "{% url 'login' %}" class="form-group">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-primary">Acceder</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>



