{% extends 'base.htm' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'funciones/evaluacionDocente/css/evaluacion_propuesta.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'funciones/evaluacionDocente/js/evaluacion_propuesta.js' %}"></script>
{% endblock %}

{% block title %}
<title>Evaluacion Propuesta</title>
{% endblock %}

{% block volver %}
<a href="../reims/">Volver</a>
{% endblock %}


{% block user %}
<a class="userIcon" href="#" style = "pointer-events: none;"><i class="far fa-user" style="font-size: 150%;"></i><span style="padding-left: 20px;">{{docente.username}}</span></a>
{% endblock %}

{% block content %}
<h1>Propuestas para salvar a los animales atrapados</h1>
<h2>Actividad: Limpia el Lago</h2>

<select name="alumno_a_buscar" id="alumno_a_buscar">
    {% for nombre,id in alumnos_a_filtrar.items %}
    <option value={{id}}>{{nombre}}</option>
    {% endfor %}
</select>
<button id="filtrar" onclick="prueba()">Filtrar</button>

<div id="tabla">
    <table style="width:100%" id="table">
        <tr>
            <th>#</th>  
            <th>Alumno</th>
            <th>Fecha Respuesta</th>
            <th>Respuesta</th>
            <th>Calificacion</th>
            <th>Guardar</th>
        </tr>
        {% for id,alumno in alumnos.items %}
        <tr>
            <td>{{id}}</td>
            <td data-id = {{alumno.2}}>{{alumno.0}}</td>
                <td>{{alumno.1.datetime_touch|date:"Y-m-d H:i:s" }}</td>
                <td>{{alumno.1.resultado}}</td>
                <td><select name="calificacion" id="calificacion{{id}}">
                    <option value="">Calificar</option>
                    <option value="1">No Logrado</option>
                    <option value="2">Casi Logrado</option>
                    <option value="3">Logrado</option>
                </select></td>
                <td id="boton"><button onclick="guardar('{{id}}')"data-id = {{id}} id="guardado{{id}}">Guardar</button></td>    
            </tr>
        {% endfor %}
      </table>
</div>
{% endblock %}