* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  header {
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
    color: white;
    position: relative;
  }
  #topPart{
    background-color: #004b93;
    width: 100%;
    height: 30px;
  }
  
  #logo{
    text-align: left;
    padding : 10px;
    background-color: #004b93;
  }
  #logo img{
    text-align: left;
    height: 1px;
  }

  .logoutButton{
    background-color: #004b93 ;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 3;
  }


  /* Increase the font size of the heading */
  header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  nav {
    overflow: hidden;
    background-color: #004b93;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
  
  /* Style the navigation bar links */
  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  nav form.right {
    float: right;
  }
  
  /* Change color on hover */
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  nav a.active {
    background-color: #666;
    color: white;
  }
  
  .footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    margin-top: 1px;
    /* Set the fixed height of the footer here */
    height: 500px;
    z-index: 1;
    position: relative;
  }

  .footer_container{
    text-align: center;
  }
  
  /* Taller footer on small screens */
  @media (max-width: 567em) {
      body {
        margin-bottom: 700px;
      }
      .footer {
        height: 340px;
      }
  }
  
  /* Sticky footer style and color
  -------------------------------------------------- */
  footer {
    padding-top: 1px;
    background-color: #e4e4e6;
    color: black;
  }
  
  
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    nav a {
      float: none;
      width: 100%;
    }
  }