main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.userIcon i, .userIcon span{
  color:white;
}

.sidebar{
  height: 100%;
  width: 150px;
  background-color: #004b93;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a{
  padding: 25px 15px;
  margin-top: 10px;
  color: black;
}
.sidebar a:hover{
  background-color: lightblue;
}
.sidebar a img{
  height: 110px;
}
.content{
  height: 100%;
  width: 100%;
  background-image: url('../imagenes/home_background.jpg');
  background-position: top;
  background-size: cover;
  overflow:hidden;
}

#iconoREIM{
  height: 60px;
  visibility: hidden;
}
.nombreReim{
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombreReim span{
  font-size: 30px;
}
.actividades{
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

#revisionDibujo{
  visibility: hidden;
}

.card{
  width: 250px;
  height: 400px;
  margin: 15px;
}

.card-image{
  height: 60%;
  background-color: #004b93;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image img{
  height: 70%;

}
.card-body{
  height: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-functions{
  display: flex;
  flex-direction: row;
}
.card-body a:link, a:visited {
  background-color: lightblue;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin: 3.5px;

}
.card-body a:hover, a:active {
  background-color: #004b93;
  color: white;
}

/* Dropdown de las funciones */

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -15vh;
}

.masFunciones{
  background-color: lightblue;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin: 0.5px;
}

.masFunciones:hover{
  background-color: #004b93;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}