main{
  height: 100vh;
  padding: 1px 0px;
  background-image: url('../imagenes/home_background.jpg');
  background-position: top;
  background-size: cover;
}


.contenedor-colegio{
  height: 27vh;
  width: 70%;
  background-color: #004b93;
  margin: 2% 15%;
  display: flex;
  flex-direction: row;
  border: solid black 1px;
}
.contenedor-imagen{
  height: 100%;
  width: 25%;
}
.contenedor-info{
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}
.contenedor-nombre{
  height: 25%;
  width: 100%;
  background-color: white;
  border-style: none none solid none;
  border-color: black ;
  border-width: 1px;
}
.nombre-colegio{
  font-size: 4vh;
  display: table;
  margin: 0 auto;
}
.contenedor-cursos{
  height: 75%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boton-curso{
  height: fit-content;
  width: 180px;
  color: gold;
  background-color: #004b93;
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
}
.boton-curso:hover{
  color: darkgoldenrod;
  text-decoration: none;
}




 
  